/*This will be my stylesheet*/

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

li a {
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: #F9FAF8;
}

  li a:hover {
    background-color: #111;
  }