/*This will be my stylesheet*/

body {
    font-family: roboto;
    margin: 0;
}

.hero {
    background-color: #1f372c;
    color: #F9FAF8;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

li a {
    text-align: center;
    text-decoration: none;
    padding: 14px 10px;
    color: #F9FAF8;
}

  li a:hover {
    background-color: #c77c20;
  }

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-left: 200px;
    margin-right: 200px;
    padding: 80px 0px;
    gap: 80px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.hero-text-two {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #c77c20;
    color: #F9FAF8;
    border: 2px solid;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    color: #13221c;
    font-weight: 900;
    text-align: center;
}

.latest-blog-posts {
    margin-left: 250px;
    margin-right: 250px;
    padding: 50px 0px;
}

.latest-blogs-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0px;
}

.blog-content {
    width: 200px;
}

.blog-image {
    border-radius: 10px;
    border: 3px solid #1f372c;
}

.caption {
    font-size: 18px;
    color: #4e4e4e;
    margin: 0;
}

.quotation {
    display: flex;
    justify-content: center;
    background-color: #ebf3f0;
    padding: 100px 350px;
    color: #13221c;
}

blockquote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

blockquote cite {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    display: block;
}

.call-to-action {
    padding: 20px 20px;
    background-color: #c77c20;
    margin: 100px 250px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
}

.call-to-action p {
    margin: 2px;
}

.cta-header {
    font-size: 24px;
    font-weight: 700;
}

.call-to-action button {
    margin: 20px;
    border: 2px solid;
}

footer {
    background-color: #1f372c;
    color:#F9FAF8;
    text-align: center;
    padding: 30px;
}